<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
     <title>Abonnements</title>
</head>
<body>

<div class="container">

    <header>
        <h1>LITReview</h1>
        <nav>
            <a href="#">Flux</a>
            <a href="#">Posts</a>
            <a href="#">Abonnements</a>
            <a href="#">Se déconnecter</a>
        </nav>
    </header>

    <div class="follow-form">
        <h2>Suivre d'autres utilisateurs</h2>
        <input type="text" placeholder="Nom d'utilisateur">
        <button>Envoyer</button>
    </div>

    <div class="list-section">
        <h3>Abonnements</h3>
        <table>
            <tr>
                <td>jean_5679</td>
                <td class="unsubscribe-button"><button>Désabonner</button></td>
            </tr>
            <tr>
                <td>sarahj</td>
                <td class="unsubscribe-button"><button>Désabonner</button></td>
            </tr>
            <tr>
                <td>severine123</td>
                <td class="unsubscribe-button"><button>Désabonner</button></td>
            </tr>
        </table>
    </div>

    <div class="list-section">
        <h3>Abonnés</h3>
        <table>
            <tr>
                <td>jean_5679</td>
                <td class="unsubscribe-button"><button>Bloquer</button></td>
            </tr>
            <tr>
                <td>severine123</td>
                <td class="unsubscribe-button"><button>Bloquer</button></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>


