<!-- subscriptions.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abonnements</title>
</head>
<body>
    <h1>Abonnements</h1>
    <ul>
        {% for subscription in subscriptions %}
            <li>{{ subscription.user.username }} <a href="{% url 'unfollow' subscription.user.username %}">Désabonner</a></li>
        {% endfor %}
    </ul>

    <h1>Abonnés</h1>
    <ul>
        {% for subscriber in subscribers %}
            <li>{{ subscriber.user.username }}</li>
        {% endfor %}
    </ul>
</body>
</html>


