<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LITReview{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li><a class="navbar-brand" href="{% url 'login' %}">LITReview</a></li>
                <li class="nav-item d-flex align-items-end">
                  <span class="nav-link text-white small">
                    {% if user.is_authenticated %}
                      Bienvenue {{ user.username }}
                    {% else %}
                      Non connecté
                    {% endif %}
                  </span>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'flux' %}">Flux</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'posts' %}">Posts</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'abonnements' %}">Abonnements</a></li>
            </ul>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Créer une critique </h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Ticket Form -->
        <div class="card border-dark mb-4">
            <div class="card-header bg-dark text-white">Livre/Article</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="id_title" class="form-label">Titre  :</label>
                    {{ ticket_form.title }}
                </div>
                <div class="mb-3">
                    <label for="id_description" class="form-label">Description :</label>
                    {{ ticket_form.description }}
                </div>
                <div class="mb-3">
                    <label for="id_image" class="form-label">Image :</label>
                    {{ ticket_form.image }}
                </div>
            </div>
        </div>

        <!-- Review Form -->
        <div class="card border-dark mb-4">
            <div class="card-header bg-dark text-white">Critique </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="id_headline" class="form-label">Titre :</label>
                    {{ review_form.headline }}
                </div>
                <div class="mb-3">
                    <label for="id_rating" class="form-label">Note :</label>
                    {{ review_form.rating }}
                </div>
                <div class="mb-3">
                    <label for="id_body" class="form-label">Commentaire :</label>
                    {{ review_form.body }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>

</body>
</html>