<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Créer une critique</title>
</head>
<body>

<div class="form-container">
    <h1>Créer une critique</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- TICKET -->
        <label for="id_title">Titre du ticket :</label>
        {{ ticket_form.title }}

        <label for="id_description">Description :</label>
        {{ ticket_form.description }}

        <label for="id_image">Image :</label>
        {{ ticket_form.image }}

        <!-- REVIEW -->
        <label for="id_headline">Titre de la critique :</label>
        {{ review_form.headline }}

        <label for="id_rating">Note :</label>
        {{ review_form.rating }}

        <label for="id_body">Commentaire :</label>
        {{ review_form.body }}

        <button type="submit">Envoyer</button>
    </form>
</div>

</body>
</html>
