<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Flux</title>
</head>
<body>

<div class="container">


    <header>
        <h1>LITReview</h1>
        <nav>
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'abonnements' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </nav>
    </header>

    <div class="actions">
      <button onclick="window.location.href='ask_review'">Demander une critique</button>
    <button onclick="window.location.href='create_review'">Créer une critique</button>
</div>


    <div class="post">
        <p><strong>Vous avez publié une critique</strong></p>
        <p><strong>véritablement révolutionnaire - ★★★★★</strong></p>
        <p>Une excellente lecture et je vous recommande vivement !</p>
        <div class="meta">13:14, 26 août 2020</div>

        <div class="ticket">
            <p><strong>Ticket - jean8597</strong></p>
            <p>The Origin of Species - Charles Darwin</p>
            <img src="" alt="Image du livre">
        </div>
    </div>

    <div class="post">
        <p><strong>sarahj a demandé une critique</strong></p>
        <p>Une brève histoire du temps - Stephen Hawking</p>
        <div class="meta">13:14, 26 août 2020</div>

        <div class="ticket">
            <div class="buttons">
                <button>Créer une critique</button>
            </div>
        </div>
    </div>

    <div class="post">
        <p><strong>jean_5679 a demandé une critique</strong></p>
        <p>The Origin of Species - Charles Darwin</p>
        <p>Je suis à la recherche d’un avis sur ce sujet, svp, merci !</p>
        <div class="meta">13:10, 26 août 2020</div>

        <div class="ticket">
            <img src="" alt="Image du livre">
        </div>
    </div>

    <div class="post">
        <p><strong>sarahj posted a review</strong></p>
        <p><strong>Excellent - ★★★★☆</strong></p>
        <div class="meta">12:30, 26 août 2020</div>

        <div class="ticket">
            <p><strong>Ticket - sarahj</strong></p>
            <p>Discours de la méthode - René Descartes</p>

            <div class="buttons">
                <button>Créer une critique</button>
            </div>
        </div>
    </div>

    <div class="note">
        <p>Bloquer les critiques sur tickets si un utilisateur a déjà posté une critique en réponse.</p>
    </div>
</div>

</body>
</html>
