<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Flux</title>
</head>
<body>

<div class="container">

    <header>
        <h1>LITReview</h1>
        <nav>
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'abonnements' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </nav>
    </header>

    <div class="actions">
        <button onclick="window.location.href='{% url 'ask_review' %}'">Demander une critique</button>
        <button onclick="window.location.href='{% url 'create_review' %}'">Créer une critique</button>
    </div>

    {% for review in reviews %}
    <div class="post">
        <p><strong>{{ review.user.username }} a publié une critique</strong></p>

        <p>{{ review.comment }}</p>
        <div class="meta">{{ review.created_at }}</div>

        <div class="ticket">
            <p><strong>Ticket - {{ review.book.author }}</strong></p>
            <p>{{ review.book.title }}</p>
            <img src="{{ review.book.image.url }}" alt="Image du livre">
        </div>
    </div>
    {% endfor %}

    {% for ticket in tickets %}
    <div class="post">
        <p><strong>{{ ticket.user.username }} a demandé une critique</strong></p>
        <p>{{ ticket.book.title }} - {{ ticket.book.author }}</p>
        <p>{{ ticket.description }}</p>
        <div class="meta">{{ ticket.created_at }}</div>

        <div class="ticket">
            <img src="{{ ticket.book.image.url }}" alt="Image du livre">
            <div class="buttons">
                <button onclick="window.location.href='{% url 'create_review' %}?ticket_id={{ ticket.id }}'">Créer une critique</button>
            </div>
        </div>
    </div>
    {% endfor %}


</div>

</body>
</html>
