<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Vos posts</title>
</head>
<body>

<div class="container">

    <header>
        <h1>LITReview</h1>
        <nav>
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'abonnements' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </nav>
    </header>

    <h2>Vos posts</h2>


        <div class="post">
            {% if post.type == "critique" %}
                <p><strong>Vous avez publié une critique</strong></p>
                <p><strong>{{ post.titre }} - ★{{ post.note }}/5</strong></p>
                <p>{{ post.contenu }}</p>
            {% elif post.type == "ticket" %}
                <p><strong>Vous avez publié un ticket</strong></p>
                <p>{{ post.titre }}</p>
            {% endif %}

            <div class="meta">{{ post.date|date:"H:i, d F Y" }}</div>

            {% if post.ticket %}
                <div class="ticket">
                    <p><strong>Ticket - {{ post.ticket.utilisateur }}</strong></p>
                    <p>{{ post.ticket.titre }}</p>
                    {% if post.ticket.image %}
                        <img src="{{ post.ticket.image.url }}" alt="Image du livre">
                    {% endif %}
                </div>
            {% elif post.image %}
                <img src="{{ post.image.url }}" alt="Image du ticket">
            {% endif %}

            <div class="buttons">
                <button onclick="window.location.href='{% url 'modify_post' %}'">Modifier</button>
                <button onclick="window.location.href='{% url 'delete_post' %}'">Supprimer</button>
            </div>
        </div>

        <p>Vous n’avez encore publié aucun post.</p>

</div>

</body>
</html>
