<form method="post" class="ajax-review-form" action="{% url 'create-review-for-ticket' ticket.id %}">
    {% csrf_token %}

    <input type="hidden" name="ticket_id" value="{{ ticket.id }}">

    <label for="id_headline">Titre :</label>
    {{ review_form.headline }}

    <label>Note :</label>
    <div class="star-rating">
        {% for i in "54321" %}
            <input type="radio" name="rating" id="star{{ i }}" value="{{ i }}" {% if review_form.rating.value == i %}checked{% endif %}>
            <label for="star{{ i }}">★</label>
        {% endfor %}
    </div>

    <label for="id_body">Contenu :</label>
    {{ review_form.body }}
    <button type="submit">Envoyer</button>
</form>