<!DOCTYPE html>
<html>
<head>
    <title>Créer un ticket</title>
</head>
<body>

<div class="form-container">
    <h1>Créer un ticket</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="id_title">Titre :</label>
        {{ form.title }}

        <label for="id_description">Description :</label>
        {{ form.description }}

        <label for="id_image">Image :</label>
        {{ form.image }}

        <button type="submit">Créer un ticket</button>
    </form>
</div>

</body>
</html>
