.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 2rem;
  display: inline-flex;
}

.rating input {
  display: none;
}

.rating label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.rating input:checked ~ label,
.rating input:checked  label  label {
  color: #fc0;
}

.rating label:hover,
.rating label:hover ~ label {
  color: #fc0;
}
.fullscreen-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    background: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    position: relative;
    width: 90%;
    max-width: 600px;
}

.close-btn {
    position: absolute;
    top: 0.5em;
    right: 0.8em;
    font-size: 1.5em;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}


.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

