{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>

    <h1>Connectez-vous</h1>

    <section aria-labelledby="login-heading">
        <form method="POST" action="{% url 'login' %}" aria-describedby="form-description">
            {% csrf_token %}

            <input type="text" id="username" name="username" required aria-required="true"><br>
            <input type="password" id="password" name="password" required aria-required="true"><br>
            <button type="submit">Se connecter</button><br>
        </form>

    </section>

    <div class="container">
        <section class="signup" aria-labelledby="signup-heading">
            <h2 id="signup-heading">Inscrivez-vous maintenant</h2>
            <a href="{% url 'register' %}" title="Page d'inscription">
                <button>S'inscrire</button>
            </a>
        </section>
    </div>
</body>
</html>
