{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription – LITReview</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
    <main class="login-wrapper">
        <section class="login-box" aria-labelledby="register-title">
            <h1 id="register-title">Inscrivez-vous</h1>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

                <input type="text" name="username" placeholder="Nom d’utilisateur" required aria-required="true"><br>
                <input type="password" name="password1" placeholder="Mot de passe" required aria-required="true"><br>
                <input type="password" name="password2" placeholder="Confirmez mot de passe" required aria-required="true"><br>
                <button type="submit" class="btn-primary">S'inscrire</button>
            </form>

            <div class="signup-redirect">
                <a href="{% url 'login' %}" title="Retour à la page de connexion">
                    <button class="btn-secondary">Retourner</button>

                </a>
            </div>
        </section>
    </main>
</body>
</html>
